.btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    margin-top: 12px;
}

.pcivil{
    background-image: url("../img/pcivil_logo.png");
    background-size: 7%;
    background-repeat: repeat;
    opacity: 0.6;
}
