.bg-dark{
    background-color: #ff5200 !important;
}

.navbar-dark .navbar-brand {
    color: #000;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-dark .navbar-nav .active > .nav-link{
    color: #000;
}